*,
*::before,
*::after {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
}

html {
	background: linear-gradient(to bottom right, #FFF, #999);
	background-size: cover;
	background-repeat: no-repeat;
}

#titlebar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 47px;
	margin: 0 auto;
	background: linear-gradient(to bottom right, #EEE, #AAA);
	font-weight: bolder;
	font-size: large;
	user-select: none;
}

#titlebar p {
	float: right;
	padding: 0 1rem;
}

#navbtn {
	min-width: 13rem;
	cursor: pointer;
	background: linear-gradient(to bottom, #EEE, #888);
	font-size: 1.8rem;
	font-weight: 100;
	border-radius: 0 50px 50px 0;
	height: 47px;
}

#navbtn:hover {
	background: linear-gradient(to bottom, #DDD, #888);
}

#navbtn p {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

#main {
	display: flex;
}

#navpanel {
	background: linear-gradient(to bottom, #888, #555);
	padding: 1rem;
	height: calc(100vh - 47px);
	min-width: 13rem;
	overflow-y: auto;
	user-select: none;
	display: none;
	position: absolute;
}

.collapsible {
	background-color: #FFF;
	cursor: pointer;
	padding: 0.5rem;
	width: 100%;
	border: none;
	font-weight: bolder;
}

.collapsible:hover {
	background-color: #BBB;
}

.collactive {
	background-color: #666;
	color: #FFF;
}

.collactive:hover {
	background-color: #454545;
}

.collapselist {
	display: none;
	overflow: hidden;
	width: 85%;
	margin: 0 auto;
}

.collapselist p {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.5rem;
	border: 0.115rem dashed #AAA;
	color: #F44;
	border-top: none;
	background-color: #333;
	cursor: pointer;
}

.collapselist p:hover {
	background-color: #151515;
}

#displayzone {
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	height: calc(100vh - 47px);
	overflow-y: auto;
	width: 100%;
}

.window {
	background-color: #FFF;
	margin: 1rem;
	height: fit-content;
	border: 0.1rem solid black;
	min-width: 10rem;
	max-width: 32rem;
	width: fit-content;
	max-height: 32rem;
	height: fit-content;
}

.windowtitlebar {
	font-weight: bolder;
	display: flex;
	justify-content: space-between;
	background-color: #D5D5D5;
	padding: 0.5rem;
	padding-bottom: 0;
	border-bottom: 0.1rem solid black;
	user-select: none;
}

.windowclosebtn {
	cursor: pointer;
	position: relative;;
	bottom: 0.2rem;
}

.windowclosebtn:hover {
	color: #E55;
}

.windowcontent {
	padding: 0.5rem;
	user-select: auto;
	overflow: auto;
	max-height: 22.5rem;
}